ul, 
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* body qismidagi orqa fon havo rangda bo'lishi */
body {
    background-color: aliceblue;
}

/* card hajmi, rangi tuzilishi uchun */
li {
    width: 300px;
    border-radius: 15px;
    background-color: white;
    margin: 0 0 25px 0;
    padding: 25px;
}

/* rasm hajmi */
img {
    width: 290px;
}

/* tekst rangi kulrang */
p {
    color: dimgray;
}

/* link joylashgan so'z rangi */
a {
    color: blue;
}